# Obiekty CASAction i CASTable

## Obiekt CASAction

In [1]:
import swat

In [2]:
conn = swat.CAS('cas-controller', 5570)

In [3]:
conn.fetch?

Utworzenie instancji obiektu Fetch.

In [5]:
fa = conn.Fetch()

In [5]:
type(fa)

swat.cas.actions.table.Fetch

In [6]:
type(fa).__bases__

(swat.cas.actions.CASAction,)

In [3]:
out = conn.upload('../../dane/iris.csv', casout=dict(name='data.iris',caslib='casuser'))
#out = conn.loadtable('sas-viya/dane/iris.csv', caslib='casuser')

NOTE: Cloud Analytic Services made the uploaded file available as table DATA.IRIS in caslib CASUSER(splpif).
NOTE: The table DATA.IRIS has been created in caslib CASUSER(splpif) from binary data uploaded to Cloud Analytic Services.

In [24]:
conn.upload?

Wywołanie insancji akcji Fetch

In [6]:
fa(table=dict(name='data.iris', caslib='casuser'), to=5)

[Fetch]

 Selected Rows from Table DATA.IRIS

       Name Sex   Age  Height  Weight
 0   Alfred   M  14.0    69.0   112.5
 1    Alice   F  13.0    56.5    84.0
 2  Barbara   F  13.0    65.3    98.0
 3    Carol   F  14.0    62.8   102.5
 4    Henry   M  14.0    63.5   102.5

+ Elapsed: 0.0266s, user: 0.0151s, sys: 0.0208s, mem: 2.81mb

In [9]:
fa(table=dict(name='data.iris', caslib='casuser'), to=5,
              sortby=['sepal_length', 'sepal_width'])

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  sepal_width  petal_length  petal_width variety
 0           4.3          3.0           1.1          0.1  Setosa
 1           4.4          2.9           1.4          0.2  Setosa
 2           4.4          3.0           1.3          0.2  Setosa
 3           4.4          3.2           1.3          0.2  Setosa
 4           4.5          2.3           1.3          0.3  Setosa

+ Elapsed: 0.039s, user: 0.0329s, sys: 0.0345s, mem: 5.33mb

Dodatkowe parametry.

In [10]:
fa.set_params('table', dict(name='data.iris', caslib='casuser'),
              'to', 5)
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'), to=5)

In [11]:
fa()

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  sepal_width  petal_length  petal_width variety
 0           5.1          3.5           1.4          0.2  Setosa
 1           4.9          3.0           1.4          0.2  Setosa
 2           4.7          3.2           1.3          0.2  Setosa
 3           4.6          3.1           1.5          0.2  Setosa
 4           5.0          3.6           1.4          0.2  Setosa

+ Elapsed: 0.0231s, user: 0.0112s, sys: 0.0165s, mem: 2.81mb

Alternatywne sposóby podawania parametrów.

In [19]:
fa.set_params(('table', dict(name='data.iris', caslib='casuser')),
              ('to', 5))
fa

?.table.Fetch(sortby=dict(0=dict(formatted='raw', name='petal_length'), 1=dict(formatted='raw', name='petal_width')), table=dict(caslib='casuser', name='data.iris'), to=5)

In [20]:
fa.set_params({'table': dict(name='data.iris', caslib='casuser'),
               'to': 5})
fa

?.table.Fetch(sortby=dict(0=dict(formatted='raw', name='petal_length'), 1=dict(formatted='raw', name='petal_width')), table=dict(caslib='casuser', name='data.iris'), to=5)

In [21]:
fa.set_params(table=dict(name='data.iris', caslib='casuser'),
              to=5)
fa

?.table.Fetch(sortby=dict(0=dict(formatted='raw', name='petal_length'), 1=dict(formatted='raw', name='petal_width')), table=dict(caslib='casuser', name='data.iris'), to=5)

### Ustawianie parametrów zagnieżdżonych

In [22]:
fa = conn.Fetch()

In [23]:
fa.set_params('table.name', 'data.iris',
              'table.caslib', 'casuser')
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'))

In [24]:
fa.set_params('sortby.0.name', 'petal_length',
              'sortby.0.formatted', 'raw',
              'sortby.1.name', 'petal_width',
              'sortby.1.formatted', 'raw')
fa

?.table.Fetch(sortby=dict(0=dict(formatted='raw', name='petal_length'), 1=dict(formatted='raw', name='petal_width')), table=dict(caslib='casuser', name='data.iris'))

In [25]:
fa(to=5)

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  sepal_width  petal_length  petal_width variety
 0           4.6          3.6           1.0          0.2  Setosa
 1           4.3          3.0           1.1          0.1  Setosa
 2           5.0          3.2           1.2          0.2  Setosa
 3           5.8          4.0           1.2          0.2  Setosa
 4           4.7          3.2           1.3          0.2  Setosa

+ Elapsed: 0.0409s, user: 0.0218s, sys: 0.0356s, mem: 5.32mb

### Parametry jako atrybuty

In [26]:
fa = conn.Fetch()

In [27]:
fa.params.table.name = 'data.iris'
fa.params.table.caslib = 'casuser'
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'))

In [28]:
fa.params.sortby[0].name = 'petal_width'
fa.params.sortby[0].formatted = 'raw'
fa.params.sortby[1].name = 'petal_length'
fa.params.sortby[1].formatted = 'raw'
fa

?.table.Fetch(sortby=[dict(formatted='raw', name='petal_width'), dict(formatted='raw', name='petal_length')], table=dict(caslib='casuser', name='data.iris'))

Aby skrócić pisanie stwórz referencję do obiektu sortby

In [29]:
sortby = fa.params.table.sortby
sortby[0].name = 'petal_width'
sortby[0].formatted = 'raw'
sortby[1].name = 'petal_length'
sortby[1].formatted = 'raw'
sortby

{0: {'formatted': 'raw', 'name': 'petal_width'},
 1: {'formatted': 'raw', 'name': 'petal_length'}}

Uważaj na kolizję nazwy parametru z nazwą metody

In [32]:
fa.params.pop = 'corn'

Poniższe wyrażenie zwraca słownik parametrów a nie wartość ustioną na parametrze pop

In [33]:
fa.params.pop

<bound method xadict.pop of {'pop': 'corn', 'table': {'caslib': 'casuser', 'name': 'data.iris', 'sortby': {0: {'name': 'petal_width', 'formatted': 'raw'}, 1: {'name': 'petal_length', 'formatted': 'raw'}}}, 'sortby': {0: {'name': 'petal_width', 'formatted': 'raw'}, 1: {'name': 'petal_length', 'formatted': 'raw'}}}>

Using dictionary syntax will return the proper value though.

In [34]:
fa.params['pop']

'corn'

Parametry można również ustawiać bezpośrednio na instancji akcji CAS

In [35]:
fa = conn.Fetch()

In [36]:
fa.table.name = 'data.iris'
fa.table.caslib = 'casuser'
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'))

In [37]:
fa(to=5)

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  sepal_width  petal_length  petal_width variety
 0           5.1          3.5           1.4          0.2  Setosa
 1           4.9          3.0           1.4          0.2  Setosa
 2           4.7          3.2           1.3          0.2  Setosa
 3           4.6          3.1           1.5          0.2  Setosa
 4           5.0          3.6           1.4          0.2  Setosa

+ Elapsed: 0.0272s, user: 0.0172s, sys: 0.0206s, mem: 2.8mb

### Pobieranie i usówanie parametrów akcji

In [38]:
fa = conn.Fetch(to=5, table=dict(name='data.iris', caslib='casuser'))
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'), to=5)

In [39]:
fa.get_param('to')

5

In [40]:
fa.get_params('to', 'table.name')

{'table.name': 'data.iris', 'to': 5}

In [41]:
fa.del_params('to', 'table.caslib')
fa

?.table.Fetch(table=dict(name='data.iris'))

In [42]:
fa.has_param('table.caslib')

False

In [43]:
fa.has_param('table.name')

True

In [46]:
fa.has_param('table.name', 'to')

False

Parametry akcji jako atrybut obiektu

In [44]:
fa = conn.Fetch(to=5, table=dict(name='data.iris', caslib='casuser'))
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'), to=5)

In [45]:
fa.table.name

'data.iris'

In [46]:
fa.table

{'caslib': 'casuser', 'name': 'data.iris'}

In [47]:
del fa.table.caslib

In [48]:
fa.table

{'name': 'data.iris'}

## Pierwsze kroki z obiektem CASTable

In [7]:
conn.endSession()
conn = swat.CAS('cas-controller', 5570)
out = conn.upload('../../dane/iris.csv', casout=dict(name='data.iris',caslib='casuser'))
#out = conn.loadtable('data/iris.csv', caslib='casuser')
out

NOTE: Cloud Analytic Services made the uploaded file available as table DATA.IRIS in caslib CASUSER(splpif).
NOTE: The table DATA.IRIS has been created in caslib CASUSER(splpif) from binary data uploaded to Cloud Analytic Services.

[caslib]

 'CASUSER(splpif)'

[tableName]

 'DATA.IRIS'

[casTable]

 CASTable('DATA.IRIS', caslib='CASUSER(splpif)')

+ Elapsed: 0.0756s, user: 0.0347s, sys: 0.0558s, mem: 32.9mb

In [52]:
out['tableName']

'DATA.IRIS'

In [53]:
out['caslib']

'CASUSER(splpif)'

In [54]:
out['casTable']

CASTable('DATA.IRIS', caslib='CASUSER(splpif)')

In [55]:
out.casTable

CASTable('DATA.IRIS', caslib='CASUSER(splpif)')

In [56]:
out.casTable.tableinfo()

,Name,Rows,Columns,Encoding,CreateTimeFormatted,ModTimeFormatted,JavaCharSet,CreateTime,ModTime,Global,Repeated,View,SourceName,SourceCaslib,Compressed,Creator,Modifier
0,DATA.IRIS,150,5,utf-8,09Dec2017:05:46:35,09Dec2017:05:46:35,UTF8,1.828418e+09,1.828418e+09,0,0,0,,,0,splpif,

In [57]:
out.casTable.columninfo()

[ColumnInfo]

          Column  ID     Type  RawLength  FormattedLength  NFL  NFD
 0  sepal_length   1   double          8               12    0    0
 1   sepal_width   2   double          8               12    0    0
 2  petal_length   3   double          8               12    0    0
 3   petal_width   4   double          8               12    0    0
 4       variety   5  varchar         10               10    0    0

+ Elapsed: 0.0126s, user: 0.00302s, sys: 0.0135s, mem: 0.445mb

In [58]:
out.casTable.fetch(to=5)

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  sepal_width  petal_length  petal_width variety
 0           5.1          3.5           1.4          0.2  Setosa
 1           4.9          3.0           1.4          0.2  Setosa
 2           4.7          3.2           1.3          0.2  Setosa
 3           4.6          3.1           1.5          0.2  Setosa
 4           5.0          3.6           1.4          0.2  Setosa

+ Elapsed: 0.0234s, user: 0.0201s, sys: 0.0116s, mem: 2.82mb

In [59]:
out.casTable.summary()

,Column,Min,Max,N,NMiss,Mean,Sum,Std,StdErr,Var,USS,CSS,CV,TValue,ProbT
0,sepal_length,4.3,7.9,150.0,0.0,5.843333,876.5,0.828066,0.067611,0.685694,5223.85,102.168333,14.171126,86.425375,3.331256e-129
1,sepal_width,2.0,4.4,150.0,0.0,3.057333,458.6,0.435866,0.035588,0.189979,1430.40,28.306933,14.256420,85.908304,8.004458e-129
2,petal_length,1.0,6.9,150.0,0.0,3.758000,563.7,1.765298,0.144136,3.116278,2582.71,464.325400,46.974407,26.072599,2.166017e-57
3,petal_width,0.1,2.5,150.0,0.0,1.199333,179.9,0.762238,0.062236,0.581006,302.33,86.569933,63.555114,19.270595,2.659021e-42

In [60]:
out.casTable.correlation()

[CorrSimple]

 Summary Statistics in Correlation Analysis for DATA.IRIS

        Variable      N      Mean    Sum    StdDev  Minimum  Maximum
 0  sepal_length  150.0  5.843333  876.5  0.828066      4.3      7.9
 1   sepal_width  150.0  3.057333  458.6  0.435866      2.0      4.4
 2  petal_length  150.0  3.758000  563.7  1.765298      1.0      6.9
 3   petal_width  150.0  1.199333  179.9  0.762238      0.1      2.5

[Correlation]

 Pearson Correlation Coefficients for DATA.IRIS

        Variable  sepal_length  sepal_width  petal_length  petal_width
 0  sepal_length      1.000000    -0.117570      0.871754     0.817941
 1   sepal_width     -0.117570     1.000000     -0.428440    -0.366126
 2  petal_length      0.871754    -0.428440      1.000000     0.962865
 3   petal_width      0.817941    -0.366126      0.962865     1.000000

+ Elapsed: 0.0256s, user: 0.0177s, sys: 0.018s, mem: 3.21mb

In [61]:
out.casTable.userinfo()

[userInfo]

 {'anonymous': False,
  'groups': ['splpif', 'SPL Edu', 'openid', 'SASAdministrators'],
  'hostAccount': True,
  'providedName': 'splpif',
  'providerName': 'OAuth/External PAM',
  'uniqueId': 'splpif',
  'userId': 'splpif'}

+ Elapsed: 0.00932s, user: 0.00342s, sys: 0.00682s, mem: 0.156mb

Kilka metdo Pandas Data Frame

In [62]:
out.casTable.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'variety'],
      dtype='object')

In [63]:
out.casTable.dtypes

sepal_length     double
sepal_width      double
petal_length     double
petal_width      double
variety         varchar
dtype: object

In [64]:
out.casTable.info()

CASTable('DATA.IRIS', caslib='CASUSER(splpif)')
Data columns (total 5 columns):
                N   Miss     Type
sepal_length  150  False   double
sepal_width   150  False   double
petal_length  150  False   double
petal_width   150  False   double
variety       150  False  varchar
dtypes: double(4), varchar(1)
data size: 8450
vardata size: 1250
memory usage: 0

In [65]:
out.casTable.describe(include=['all'], percentiles=[.4, .8])

       sepal_length sepal_width petal_length petal_width    variety
count           150         150          150         150        150
unique           35          23           43          22          3
top               5           3          1.5         0.2  Virginica
freq             10          26           13          29         50
mean        5.84333     3.05733        3.758     1.19933        NaN
std        0.828066    0.435866       1.7653    0.762238        NaN
min             4.3           2            1         0.1     Setosa
40%             5.6           3          3.9        1.15        NaN
50%             5.8           3         4.35         1.3        NaN
80%            6.55         3.4         5.35         1.9        NaN
max             7.9         4.4          6.9         2.5  Virginica

### Utworznie obiektu CASTable

In [8]:
newtbl = conn.CASTable('data.iris', caslib='casuser')
newtbl

CASTable('data.iris', caslib='casuser')

In [9]:
newtbl.columninfo()

[ColumnInfo]

          Column  ID     Type  RawLength  FormattedLength  NFL  NFD
 0  sepal_length   1   double          8               12    0    0
 1   sepal_width   2   double          8               12    0    0
 2  petal_length   3   double          8               12    0    0
 3   petal_width   4   double          8               12    0    0
 4       variety   5  varchar         10               10    0    0

+ Elapsed: 0.021s, user: 0.00683s, sys: 0.00794s, mem: 0.445mb

### Interfejs akcji CASTable

In [70]:
out = conn.loadtable('data/iris.csv', caslib='casuser')
out

ERROR: The table DATA.IRIS already exists in caslib CASUSER(username).
ERROR: The action stopped due to errors.

[caslib]

 'CASUSER(username)'

[tableName]

 'DATA.IRIS'

[casTable]

 CASTable('DATA.IRIS', caslib='CASUSER(username)')

+ Elapsed: 0.000518s, mem: 0.123mb

In [10]:
iris = conn.CASTable('data.iris', caslib='casuser')
#iris = out.casTable

In [11]:
summ = iris.Summary()
summ

?.simple.Summary(__table__=CASTable('data.iris', caslib='casuser'))

In [12]:
summ()

,Column,Min,Max,N,NMiss,Mean,Sum,Std,StdErr,Var,USS,CSS,CV,TValue,ProbT
0,sepal_length,4.3,7.9,150.0,0.0,5.843333,876.5,0.828066,0.067611,0.685694,5223.85,102.168333,14.171126,86.425375,3.331256e-129
1,sepal_width,2.0,4.4,150.0,0.0,3.057333,458.6,0.435866,0.035588,0.189979,1430.40,28.306933,14.256420,85.908304,8.004458e-129
2,petal_length,1.0,6.9,150.0,0.0,3.758000,563.7,1.765298,0.144136,3.116278,2582.71,464.325400,46.974407,26.072599,2.166017e-57
3,petal_width,0.1,2.5,150.0,0.0,1.199333,179.9,0.762238,0.062236,0.581006,302.33,86.569933,63.555114,19.270595,2.659021e-42

### Parametry CASTable

In [77]:
iris.fetch()

[Fetch]

 Selected Rows from Table DATA.IRIS

     sepal_length  sepal_width  petal_length  petal_width variety
 0            5.1          3.5           1.4          0.2  Setosa
 1            4.9          3.0           1.4          0.2  Setosa
 2            4.7          3.2           1.3          0.2  Setosa
 3            4.6          3.1           1.5          0.2  Setosa
 4            5.0          3.6           1.4          0.2  Setosa
 5            5.4          3.9           1.7          0.4  Setosa
 6            4.6          3.4           1.4          0.3  Setosa
 7            5.0          3.4           1.5          0.2  Setosa
 8            4.4          2.9           1.4          0.2  Setosa
 9            4.9          3.1           1.5          0.1  Setosa
 10           5.4          3.7           1.5          0.2  Setosa
 11           4.8          3.4           1.6          0.2  Setosa
 12           4.8          3.0           1.4          0.1  Setosa
 13           4.3          3.0           1.1          0.1  Setosa
 14           5.8          4.0           1.2          0.2  Setosa
 15           5.7          4.4           1.5          0.4  Setosa
 16           5.4          3.9           1.3          0.4  Setosa
 17           5.1          3.5           1.4          0.3  Setosa
 18           5.7          3.8           1.7          0.3  Setosa
 19           5.1          3.8           1.5          0.3  Setosa

+ Elapsed: 0.023s, user: 0.0139s, sys: 0.0147s, mem: 2.82mb

In [71]:
iris?

In [13]:
iris = conn.CASTable('data.iris', caslib='casuser', 
                     where='''sepal_length > 6.8 and variety = "Virginica"''',
                     computedvars=['length_factor'],
                     computedvarsprogram='''length_factor = sepal_length * petal_length;''')
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and variety = "Virginica"')

In [14]:
iris.fetch(fetchvars=['sepal_length', 'petal_length', 'length_factor'])

[Fetch]

 Selected Rows from Table DATA.IRIS

     sepal_length  petal_length  length_factor
 0            7.1           5.9          41.89
 1            7.6           6.6          50.16
 2            7.3           6.3          45.99
 3            7.2           6.1          43.92
 4            7.7           6.7          51.59
 5            7.7           6.9          53.13
 6            6.9           5.7          39.33
 7            7.7           6.7          51.59
 8            7.2           6.0          43.20
 9            7.2           5.8          41.76
 10           7.4           6.1          45.14
 11           7.9           6.4          50.56
 12           7.7           6.1          46.97
 13           6.9           5.4          37.26
 14           6.9           5.1          35.19

+ Elapsed: 0.0362s, user: 0.0418s, sys: 0.0322s, mem: 6.35mb

Użycie obiektu **CASTable** jako tabeli na wynik

In [16]:
outtbl = conn.CASTable('summout', caslib='casuser', promote=True)
outtbl

CASTable('summout', caslib='casuser', promote=True)

In [17]:
iris.summary(casout=outtbl)

,casLib,Name,Rows,Columns,casTable
0,CASUSER(splpif),summout,5,15,"CASTable('summout', caslib='CASUSER(splpif)')"

In [18]:
outtbl.fetch()

,_Column_,_Min_,_Max_,_NObs_,_NMiss_,_Mean_,_Sum_,_Std_,_StdErr_,_Var_,_USS_,_CSS_,_CV_,_T_,_PRT_
0,sepal_length,6.90,7.90,15.0,0.0,7.360000,110.40,0.337639,0.087178,0.114000,814.1400,1.596000,4.587485,84.424990,2.332581e-20
1,sepal_width,2.60,3.80,15.0,0.0,3.126667,46.90,0.353486,0.091270,0.124952,148.3900,1.749333,11.305524,34.257443,6.662768e-15
2,petal_length,5.10,6.90,15.0,0.0,6.120000,91.80,0.501711,0.129541,0.251714,565.3400,3.524000,8.197898,47.243615,7.680656e-17
3,petal_width,1.60,2.50,15.0,0.0,2.086667,31.30,0.241622,0.062386,0.058381,66.1300,0.817333,11.579305,33.447458,9.278838e-15
4,length_factor,35.19,53.13,15.0,0.0,45.178667,677.68,5.527611,1.427223,30.554484,31044.4416,427.762773,12.235003,31.654945,1.987447e-14

### Zarządzanie parametrami za pomocą interfejsu metod

In [28]:
iris = conn.CASTable('data.iris', caslib='casuser')
iris.set_param('where', 'sepal_length > 6.8 and variety = "Virginica"')
iris.set_param('computedvars', ['length_factor'])
iris.set_param('computedvarsprogram', 'length_factor = sepal_length * petal_length;')
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and variety = "Virginica"')

In [29]:
conn.tableinfo(caslib='casuser')

,Name,Rows,Columns,Encoding,CreateTimeFormatted,ModTimeFormatted,JavaCharSet,CreateTime,ModTime,Global,Repeated,View,SourceName,SourceCaslib,Compressed,Creator,Modifier
0,DATA.IRIS,150,5,utf-8,09Dec2017:05:58:51,09Dec2017:05:58:51,UTF8,1.828418e+09,1.828418e+09,0,0,0,,,0,splpif,
1,SUMMOUT,5,15,utf-8,09Dec2017:06:01:16,09Dec2017:06:01:16,UTF8,1.828418e+09,1.828418e+09,1,0,0,,,0,splpif,

In [30]:
iris.fetch(to=5, fetchvars=['sepal_length', 'petal_length', 'length_factor'])

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  petal_length  length_factor
 0           7.1           5.9          41.89
 1           7.6           6.6          50.16
 2           7.3           6.3          45.99
 3           7.2           6.1          43.92
 4           7.7           6.7          51.59

+ Elapsed: 0.0387s, user: 0.0429s, sys: 0.0256s, mem: 6.56mb

Poniżej przedstawione są ine metody zarządzania parametrami.

In [31]:
iris.set_params('where', 'sepal_length > 6.8 and variety = "virginica"',
                'computedvars', ['length_factor'],
                'computedvarsprogram', 'length_factor = sepal_length * petal_length;')
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and variety = "virginica"')

In [32]:
iris.set_params(('where', 'sepal_length > 6.8 and variety = "virginica"'),
                ('computedvars', ['length_factor']),
                ('computedvarsprogram', 'length_factor = sepal_length * petal_length;'))
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and variety = "virginica"')

In [33]:
iris.set_params(where='sepal_length > 6.8 and variety = "virginica"',
                computedvars=['length_factor'],
                computedvarsprogram='length_factor = sepal_length * petal_length;')
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and variety = "virginica"')

In [34]:
iris.set_params({'where': 'sepal_length > 6.8 and variety = "virginica"',
                 'computedvars': ['length_factor'],
                 'computedvarsprogram': 'length_factor = sepal_length * petal_length;'})
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and variety = "virginica"')

Pobieranie wartości parametrów.

In [35]:
iris.has_param('where')

True

In [36]:
iris.has_param('groupby')

False

In [37]:
iris.get_param('where')

'sepal_length > 6.8 and variety = "virginica"'

In [38]:
iris.get_params('where', 'computedvars')

{'computedvars': ['length_factor'],
 'where': 'sepal_length > 6.8 and variety = "virginica"'}

Usówanie parameters.

In [39]:
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and variety = "virginica"')

In [40]:
iris.del_params('computedvars', 'computedvarsprogram')
iris

CASTable('data.iris', caslib='casuser', where='sepal_length > 6.8 and variety = "virginica"')

### Zarządzanie parametrami za pomocą atrybutów

In [41]:
iris = conn.CASTable('data.iris', caslib='casuser')
iris

CASTable('data.iris', caslib='casuser')

In [42]:
iris.params.where = 'sepal_length > 6.8 and species = "virginica"'
iris

CASTable('data.iris', caslib='casuser', where='sepal_length > 6.8 and species = "virginica"')

In [43]:
iris.params.groupby[0] = 'species'
iris.params.groupby[1] = 'sepal_length'
iris

CASTable('data.iris', caslib='casuser', groupby=['species', 'sepal_length'], where='sepal_length > 6.8 and species = "virginica"')

In [44]:
del iris.params.groupby
del iris.params.where
iris

CASTable('data.iris', caslib='casuser')

Parametry można ustawić również bezpośrednio na obiekcie **CASTable**

In [46]:
iris.groupby = ['species']
iris.where = 'sepal_length > 6.8 and variety = "Virginica"'
iris

CASTable('data.iris', caslib='casuser', groupby=['species'], where='sepal_length > 6.8 and variety = "Virginica"')

### Parsowanie parametrów **CASTable**

In [107]:
iris

CASTable('data.iris', caslib='casuser', groupby=['species'], where='sepal_length > 6.8 and species = "virginica"')

In [108]:
sub_iris = iris.partition()
sub_iris

[caslib]

 'CASUSER(username)'

[tableName]

 '_T_RBC6QJBX_6HFJ3SUB_ZDE6BCRWX4'

[rowsTransferred]

 0

[shuffleWaitTime]

 0.0

[minShuffleWaitTime]

 1e+300

[maxShuffleWaitTime]

 0.0

[averageShuffleWaitTime]

 0.0

[casTable]

 CASTable('_T_RBC6QJBX_6HFJ3SUB_ZDE6BCRWX4', caslib='CASUSER(username)')

+ Elapsed: 0.0036s, user: 0.002s, sys: 0.001s, mem: 1.63mb

In [109]:
sub_iris = sub_iris.casTable

In [110]:
sub_iris.fetch()

[Fetch]

 Selected Rows from Table _T_RBC6QJBX_6HFJ3SUB_ZDE6BCRWX4

     sepal_length  sepal_width  petal_length  petal_width    species
 0            6.9          3.1           5.4          2.1  virginica
 1            6.9          3.1           5.1          2.3  virginica
 2            7.1          3.0           5.9          2.1  virginica
 3            7.6          3.0           6.6          2.1  virginica
 4            7.3          2.9           6.3          1.8  virginica
 5            7.2          3.6           6.1          2.5  virginica
 6            7.7          3.8           6.7          2.2  virginica
 7            7.7          2.6           6.9          2.3  virginica
 8            6.9          3.2           5.7          2.3  virginica
 9            7.7          2.8           6.7          2.0  virginica
 10           7.2          3.2           6.0          1.8  virginica
 11           7.2          3.0           5.8          1.6  virginica
 12           7.4          2.8           6.1          1.9  virginica
 13           7.9          3.8           6.4          2.0  virginica
 14           7.7          3.0           6.1          2.3  virginica

+ Elapsed: 0.00331s, user: 0.002s, sys: 0.001s, mem: 1.58mb

In [7]:
conn.endSession()

+ Elapsed: 0.00932s, user: 0.0045s, sys: 0.00425s, mem: 0.15mb

# Ćwiczenie

1\. Korzystając ze zbioru class.csv przelicz kolumny z jednostek imperialnych na metryczne a następnie oblicz index masy ciała (BMI).

2\. Pobierz imiona osób w klasie z niedowagą i nadwagą.